@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>ABC University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            ABC University is a simple application that 
            demonstrates how to use Entity Framework Core in an
            ASP.NET Core MVC application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-defalut" href="#">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>you can download complete project from Github</p>
        <p><a class="btn btn-defalut" href="#">
            see project source code &raquo;</a></p>
    </div>




</div>

